@model Modelss.Model.KhachHang


<div class="col-lg-6 col-lx-4">
              <div class="single_confirmation_details">
                <h4>Thông tin khách hàng</h4>
                <ul>
                  <li>
                    <p>Tên khách hàng</p><span>: @Model.TenKhachHang</span>
                  </li>
                  <li>
                    <p>Giới tính</p><span>: @Model.GioiTinh</span>
                  </li>
                  <li>
                    <p>Địa chỉ</p><span>: @Model.DiaChi</span>
                  </li>
                  <li>
                    <p>SĐT</p><span>: @Model.SoDienThoai</span>
                  </li>
                    <li>
                    <p>Tên tài khoản</p><span>: @Model.TenDangNhap</span>
                  </li>
                </ul>
              </div>
            </div>