@model Modelss.Model.ThucDon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thực đơn</legend>

        @Html.HiddenFor(model => model.MaThucDon)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenThucDon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenThucDon)
            @Html.ValidationMessageFor(model => model.TenThucDon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrangThai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrangThai)
            @Html.ValidationMessageFor(model => model.TrangThai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLuongMon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongMon)
            @Html.ValidationMessageFor(model => model.SoLuongMon)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.TongDonGia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TongDonGia)
            @Html.ValidationMessageFor(model => model.TongDonGia)

    

             <div class="editor-label">
            @Html.LabelFor(model => model.GhiChu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GhiChu)
            @Html.ValidationMessageFor(model => model.GhiChu)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


